@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: 13px Helvetica, Arial;
}

html, body, #page-container {
  width: 100%;
  height: 100%;
}

#message-page-wrapper {
  width: 100%;
  height: 100%;
  display: none;
}

#nickname-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #030306;
}
#nickname-input-wrapper {
  width: 40%;
  height: 50%;
  margin: auto;
  border-radius: 70px;
  background-color: #0A0C0A;
  border: 2px solid #063006;
  display: flex;
  flex-direction: column;
}
#nickname-input {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
}
#nickname-title {
  font-family: "Ubuntu";
  color: #00FF00;
  font-size: 1.5em;
}
#nickname {
  width: 50%;
  height: 9%;
  padding: 1%;
  color: #FFFFFF;
  border-radius: 15px;
  background-color: #303330;
  border: none;
}
#connect {
  border: none;
  background-color: #CCCCCC;
  padding: 1%;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Ubuntu";
}

#size-modal-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #0FF;
}
#size-modal {
  width: 85%;
  margin: auto;
  padding: 2%;
  background-color: #0CF;
  border: 2px solid #09C;
}

#message-form {
  background: #000000;
  padding: 3px 0px 3px 3px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#message-input {
  padding: 10px;
  width: calc(100% - 3px);
  margin-right: 3px;
  height: 40px;
}
#send {
  width: 14.5%;
  background: #0FC;
  border: none;
  padding: 12px;
  display: none;
}

#messages {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 46px;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #CCC;
}

/* iPads */
/* TODO: change this to a non-deprecated property. */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #send {
    display: inline-block;
  }
  #message-input {
    width: 84.5%;
  }
}

/* iPhones and Small Screens */
@media only screen and (max-device-width: 480px), (max-width: 480px) {
  #page-container {
    display: none;
  }
  #size-modal-wrapper {
    display: flex;
  }
}
